---
import Layout from "../layouts/Layout.astro";
import RecipeCard from "../components/RecipeCard.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import NavBar from "../components/NavBar.astro";

type Recipe = CollectionEntry<"recipes">;

const getLetter = (r: Recipe) => r.data.letter ?? r.data.title[0];

const compareRecipes = (r1: Recipe, r2: Recipe) =>
	getLetter(r1).localeCompare(getLetter(r2));

const recipes: Recipe[] = (await getCollection("recipes")).sort(compareRecipes);
const uniqueLetters = new Set(recipes.map(getLetter));
const sortedUniqueLetters = [...uniqueLetters].sort();
---

<Layout title="Drew's Recipe Box">
	<div class="m-auto p-4 text-xl w-full max-w-5xl">
		<h1 class="text-6xl font-bold mt-6 mb-8 ml-8 sm:ml-0">
			Drew's Recipe Box
		</h1>
	</div>

	<NavBar letters={sortedUniqueLetters} />
	<main class="m-auto p-4 text-xl w-full max-w-5xl">
		<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3">
			{
				recipes.map((r, idx) => {
					const isFirstOfLetter =
						idx === 0 ||
						getLetter(r) !== getLetter(recipes[idx - 1]);
					return (
						<div>
							{isFirstOfLetter && <span id={getLetter(r)} />}
							<RecipeCard recipe={r} />
						</div>
					);
				})
			}
		</div>
	</main>
</Layout>
