---
interface Props {
	letters: string[];
}

const { letters } = Astro.props;
---

<div class="sticky top-0 mt-4 float-left">
	{
		letters.map((letter) => (
			<a
				class="block relative pt-1 pr-3 pl-3 sm:pl-8 mb-px hover:pl-4 sm:hover:pl-10 mr-4 hover:mr-2 font-bold text-xl rounded-r-md bg-cardstock shadow-md hover:shadow-lg"
				href={`#${letter}`}
			>
				{letter}
			</a>
		))
	}
</div>
